<div ng-controller="SabiasController as sabiasCtrl" class="container container-color-4 container-menu-margin">
    <div class="container-info">
        <div class="sabias-slider">
            <h1>Sab&iacute;as qué?</h1>
            <div class="sabias-container">
                <video class="video-screen" autoplay ng-if="sabiasCtrl.movie == 1">
                    <source src="movies/movie1.mov" >
                    Your browser does not support the <code>video</code> element.
                </video>
                <video class="video-screen" autoplay ng-if="sabiasCtrl.movie == 2">
                    <source src="movies/movie2.mov" >
                    Your browser does not support the <code>video</code> element.
                </video>
                <video class="video-screen" autoplay ng-if="sabiasCtrl.movie == 3">
                    <source src="movies/movie3.mov" >
                    Your browser does not support the <code>video</code> element.
                </video>
                <video class="video-screen" autoplay ng-if="sabiasCtrl.movie == 4">
                    <source src="movies/movie4.mov" >
                    Your browser does not support the <code>video</code> element.
                </video>
                <video class="video-screen" autoplay ng-if="sabiasCtrl.movie == 5">
                    <source src="movies/movie5.mov" >
                    Your browser does not support the <code>video</code> element.
                </video>
                <video class="video-screen" autoplay ng-if="sabiasCtrl.movie == 6">
                    <source src="movies/movie6.mov" >
                    Your browser does not support the <code>video</code> element.
                </video>
                <video class="video-screen" autoplay ng-if="sabiasCtrl.movie == 7">
                    <source src="movies/movie7.mov" >
                    Your browser does not support the <code>video</code> element.
                </video>

            </div>

            <div class="btn-chat">
                <div class="arrow-up arrow-chat-margin"></div>
                <button id="cotizar" ng-click="sabiasCtrl.nextMovie();">Siguiente</button>
            </div>

            <div class="slider-indicator">
                <div class="slider_1" ng-class="{slider_selected:sabiasCtrl.slider_nro==1}"
                     ng-click="sabiasCtrl.slider_nro=1;" title="{{sabiasCtrl.videos[0].title}}"></div>
                <div class="slider_2" ng-class="{slider_selected:sabiasCtrl.slider_nro==2}"
                     ng-click="sabiasCtrl.slider_nro=2;" title="{{sabiasCtrl.videos[1].title}}"></div>
                <div class="slider_3" ng-class="{slider_selected:sabiasCtrl.slider_nro==3}"
                     ng-click="sabiasCtrl.slider_nro=3;" title="{{sabiasCtrl.videos[2].title}}"></div>
                <div class="slider_4" ng-class="{slider_selected:sabiasCtrl.slider_nro==4}"
                     ng-click="sabiasCtrl.slider_nro=4;" title="{{sabiasCtrl.videos[3].title}}"></div>
                <div class="slider_5" ng-class="{slider_selected:sabiasCtrl.slider_nro==5}"
                     ng-click="sabiasCtrl.slider_nro=5;" title="{{sabiasCtrl.videos[4].title}}"></div>
                <div class="slider_6" ng-class="{slider_selected:sabiasCtrl.slider_nro==6}"
                     ng-click="sabiasCtrl.slider_nro=6;" title="{{sabiasCtrl.videos[5].title}}"></div>
                <div class="slider_7" ng-class="{slider_selected:sabiasCtrl.slider_nro==7}"
                     ng-click="sabiasCtrl.slider_nro=7;" title="{{sabiasCtrl.videos[6].title}}"></div>
            </div>
        </div>
    </div>
</div>

