<div ng-controller="SabiasController as sabiasCtrl" class="container container-color-4 container-menu-margin">
    <div class="container-info">
        <div class="sabias-slider">
            <h1>Sab&iacute;as qué?</h1>
            <div class="sabias-container">
                <div class="sabias-container-2">
                    <div id="main-slider">
                        <div ng-class="{'show-slider-proyecto':sabiasCtrl.slider_nro == 1}" class="main-slider-proyecto">
                            <h3 class="color-default">Estadistica 1</h3>
                        </div>
                        <div ng-class="{'show-slider-proyecto':sabiasCtrl.slider_nro == 2}" class="main-slider-proyecto">
                            <h3 class="color-primary">Estadistica 2</h3>
                        </div>
                        <div ng-class="{'show-slider-proyecto':sabiasCtrl.slider_nro == 3}" class="main-slider-proyecto">
                            <h3 class="color-default">Estadistica 3</h3>
                        </div>
                        <div ng-class="{'show-slider-proyecto':sabiasCtrl.slider_nro == 4}" class="main-slider-proyecto">
                            <h3 class="color-primary">Estadistica 4</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider-indicator">
                <div class="slider_1" ng-class="{slider_selected:sabiasCtrl.slider_nro==1}"
                     ng-click="sabiasCtrl.slider_nro=1;"></div>
                <div class="slider_2" ng-class="{slider_selected:sabiasCtrl.slider_nro==2}"
                     ng-click="sabiasCtrl.slider_nro=2;"></div>
                <div class="slider_3" ng-class="{slider_selected:sabiasCtrl.slider_nro==3}"
                     ng-click="sabiasCtrl.slider_nro=3;"></div>
                <div class="slider_4" ng-class="{slider_selected:sabiasCtrl.slider_nro==4}"
                     ng-click="sabiasCtrl.slider_nro=4;"></div>
            </div>
        </div>
    </div>
</div>

