<div ng-controller="HacemosController as hacemosCtrl" class="container container-color-2 container-menu-margin">
    <div class="slider-container-1">
        <h1>Que hacemos?</h1>

        <div class="slider-container-2">

            <div ng-class="{'slider-selected':hacemosCtrl.slider_nro == 1}" class="slider-container">
                <!--div ng-include="hacemosCtrl.view"></div-->
                <slider-ecommerce></slider-ecommerce>
            </div>
            <div ng-class="{'slider-selected':hacemosCtrl.slider_nro == 2}" class="slider-container">
                <slider-institucional></slider-institucional>
            </div>
            <div ng-class="{'slider-selected':hacemosCtrl.slider_nro == 3}" class="slider-container">
                <slider-sistema></slider-sistema>
            </div>
            <div ng-class="{'slider-selected':hacemosCtrl.slider_nro == 4}" class="slider-container">
                <slider-desarrollo></slider-desarrollo>
            </div>
            <div ng-class="{'slider-selected':hacemosCtrl.slider_nro == 5}" class="slider-container">
                <slider-analitica></slider-analitica>
            </div>
        </div>


        <div class="back-2">
            <a href="" ng-click="appCtrl.goTo({nombre: 'Inicio', path: '/main'});">
                <div class="arrow-left"></div> Inicio
            </a>
        </div>

        <div class="slider-indicator">
            <div class="slider_1" ng-class="{slider_selected:hacemosCtrl.slider_nro==1}"
                 ng-click="hacemosCtrl.showSlider(1);"></div>
            <div class="slider_2" ng-class="{slider_selected:hacemosCtrl.slider_nro==2}"
                 ng-click="hacemosCtrl.showSlider(2);"></div>
            <div class="slider_3" ng-class="{slider_selected:hacemosCtrl.slider_nro==3}"
                 ng-click="hacemosCtrl.showSlider(3);"></div>
            <div class="slider_4" ng-class="{slider_selected:hacemosCtrl.slider_nro==4}"
                 ng-click="hacemosCtrl.showSlider(4);"></div>
            <div class="slider_5" ng-class="{slider_selected:hacemosCtrl.slider_nro==5}"
                 ng-click="hacemosCtrl.showSlider(5);"></div>
        </div>
    </div>
</div>

