<div ng-controller="ChatController as chatCtrl" class="container container-color-6 container-menu-margin">
    <div class="container-info" form-id="contacto">
        <h1 class="color-primary">Chat</h1>
        <div class="chat-container" id="contacto-form" ng-if="!chatCtrl.chatIsLogged">
            <div class="chat-container-login">
                <div class="arrow-contacto">
                    <div class="arrow-right"></div>
                </div>
                <div id="login-chat" class="contacto-controls" >
                    <div class="controls controls-margin">
                        <label>Escribe tu nombre:</label>
                        <input ac-validator is-required="Debe ingresar un nombre" type="text"
                               class="form-control" ng-model="chatCtrl.nombre" id="contacto-nombre">
                    </div>
                    <div class="controls controls-margin">
                        <label>E-mail:</label>
                        <input ac-validator is-mail="El mail es incorrecto" type="email"
                               class="form-control" ng-model="chatCtrl.email" id="contacto-mail">
                    </div>
                </div>
            </div>
            <div class="back-3">
                <button id="chat-login" ac-validator ng-click="chatCtrl.loginChat();">
                    <div class="arrow-up position-up" style="right: 15px;"></div>Ingresar
                </button>
            </div>
            <div class="send-mail ac-mensaje-custom-show" ng-if="chatCtrl.enviando">
                En breve se estará contactando alguien con usted
            </div>
        </div>

        <div class="chat-container" id="" ng-if="chatCtrl.chatIsLogged">
            <div class="chat-container-login">
                <div class="arrow-contacto">
                    <div class="arrow-right"></div>
                </div>

                <div id="message-chat" class="contacto-controls" >
                    <div class="message-controls">
                        <div id="message"></div>
                    </div>
                </div>
            </div>
            <input id="texto-mensaje" ng-model="chatCtrl.message"
                   ng-keypress="chatCtrl.sendChat($event);" type="text">
            <div class="chant-info">Por favor, ingrese su consulta</div>
        </div>

    </div>
</div>

