<div ng-controller="NoticiasController as noticiasCtrl" class="container container-color-5 container-menu-margin">
    <div class="slider-container-1">
        <h1>Noticias</h1>

        <div class="buscar">
            <label>Buscar:</label>
            <input type="text" class="buscar-control" style="width: 70%;"
                   ng-model="noticiasCtrl.filtro" ng-keyup="noticiasCtrl.buscarNoticia(noticiasCtrl.filtro);">
            <!--div class="back" style="margin: 0">
                <div class="arrow-left"></div>
                <a href="" ng-click="appCtrl.goTo({nombre: 'Volver', path: '/main'});">Volver</a>
            </div-->
        </div>

        <div class="slider-container-2" ng-if="!noticiasCtrl.buscar">
            <div ng-class="{'slider-selected':noticiasCtrl.slider_nro == 1}" class="slider-container">
                <div ng-repeat="noticia in noticiasCtrl.noticias_slider_1" class="noticia-container">
                    <div class="noticia-foto">
                        <img ng-src="{{noticia.fotos.length > 0 ? 'http://192.185.67.199/~arielces/ac-generador-noticias/img/'+noticia.fotos[0].foto : ''}}"
                             title="{{noticia.fotos[0].foto}}" alt="{{noticia.fotos[0].foto}}">
                    </div>
                    <div class="noticia-info">
                        <h5>{{noticia.titulo.length > 60 ? noticia.titulo.substring(0,60) + "....." : noticia.titulo}}</h5>
                        <p>{{noticia.detalles.length > 180 ? noticia.detalles.substring(0, 180) + "....." : noticia.detalles}}</p>
                        <button ng-click="noticiasCtrl.goToNoticia(noticia.noticia_id);" class="btn btn-default">Ver</button>
                    </div>
                </div>
            </div>
            <div ng-class="{'slider-selected':noticiasCtrl.slider_nro == 2}" class="slider-container">
                <div ng-repeat="noticia in noticiasCtrl.noticias_slider_2" class="noticia-container">
                    <div class="noticia-foto">
                        <img ng-src="{{noticia.fotos.length > 0 ? 'http://192.185.67.199/~arielces/ac-generador-noticias/img/'+noticia.fotos[0].foto : ''}}"
                             title="{{noticia.fotos[0].foto}}" alt="{{noticia.fotos[0].foto}}">
                    </div>
                    <div class="noticia-info">
                        <h5>{{noticia.titulo.length > 60 ? noticia.titulo.substring(0,60) + "....." : noticia.titulo}}</h5>
                        <p>{{noticia.detalles.length > 180 ? noticia.detalles.substring(0, 180) + "....." : noticia.detalles}}</p>
                        <button ng-click="noticiasCtrl.goToNoticia(noticia.noticia_id);" class="btn btn-default">Ver</button>
                    </div>
                </div>
            </div>
            <div ng-class="{'slider-selected':noticiasCtrl.slider_nro == 3}" class="slider-container">
                <div ng-repeat="noticia in noticiasCtrl.noticias_slider_3" class="noticia-container">
                    <div class="noticia-foto">
                        <img ng-src="{{noticia.fotos.length > 0 ? 'http://192.185.67.199/~arielces/ac-generador-noticias/img/'+noticia.fotos[0].foto : ''}}"
                             title="{{noticia.fotos[0].foto}}" alt="{{noticia.fotos[0].foto}}">
                    </div>
                    <div class="noticia-info">
                        <h5>{{noticia.titulo.length > 60 ? noticia.titulo.substring(0,60) + "....." : noticia.titulo}}</h5>
                        <p>{{noticia.detalles.length > 180 ? noticia.detalles.substring(0, 180) + "....." : noticia.detalles}}</p>
                        <button ng-click="noticiasCtrl.goToNoticia(noticia.noticia_id);" class="btn btn-default">Ver</button>
                    </div>
                </div>
            </div>
            <div ng-class="{'slider-selected':noticiasCtrl.slider_nro == 4}" class="slider-container">
                <div ng-repeat="noticia in noticiasCtrl.noticias_slider_4" class="noticia-container">
                    <div class="noticia-foto">
                        <img ng-src="{{noticia.fotos.length > 0 ? 'http://192.185.67.199/~arielces/ac-generador-noticias/img/'+noticia.fotos[0].foto : ''}}"
                             title="{{noticia.fotos[0].foto}}" alt="{{noticia.fotos[0].foto}}">
                    </div>
                    <div class="noticia-info">
                        <h5>{{noticia.titulo.length > 60 ? noticia.titulo.substring(0,60) + "....." : noticia.titulo}}</h5>
                        <p>{{noticia.detalles.length > 180 ? noticia.detalles.substring(0, 180) + "....." : noticia.detalles}}</p>
                        <button ng-click="noticiasCtrl.goToNoticia(noticia.noticia_id);" class="btn btn-default">Ver</button>
                    </div>
                </div>
            </div>
            <div ng-class="{'slider-selected':noticiasCtrl.slider_nro == 5}" class="slider-container">
                <div ng-repeat="noticia in noticiasCtrl.noticias_slider_5" class="noticia-container">
                    <div class="noticia-foto">
                        <img ng-src="{{noticia.fotos.length > 0 ? 'http://192.185.67.199/~arielces/ac-generador-noticias/img/'+noticia.fotos[0].foto : ''}}"
                             title="{{noticia.fotos[0].foto}}" alt="{{noticia.fotos[0].foto}}">
                    </div>
                    <div class="noticia-info">
                        <h5>{{noticia.titulo.length > 60 ? noticia.titulo.substring(0,60) + "....." : noticia.titulo}}</h5>
                        <p>{{noticia.detalles.length > 180 ? noticia.detalles.substring(0, 180) + "....." : noticia.detalles}}</p>
                        <button ng-click="noticiasCtrl.goToNoticia(noticia.noticia_id);" class="btn btn-default">Ver</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="" ng-if="noticiasCtrl.buscar">
            <div ng-repeat="noticia in noticiasCtrl.noticias_resultado" class="noticia-container">
                <div class="noticia-foto">
                    <img ng-src="{{noticia.fotos.length > 0 ? 'http://192.185.67.199/~arielces/ac-generador-noticias/img/'+noticia.fotos[0].foto : ''}}"
                         title="{{noticia.fotos[0].foto}}" alt="{{noticia.fotos[0].foto}}">
                </div>
                <div class="noticia-info">
                    <h5>{{noticia.titulo.length > 60 ? noticia.titulo.substring(0,60) + "....." : noticia.titulo}}</h5>
                    <p>{{noticia.detalles.length > 180 ? noticia.detalles.substring(0, 180) + "....." : noticia.detalles}}</p>
                    <button ng-click="noticiasCtrl.goToNoticia(noticia.noticia_id);" class="btn btn-default">Ver</button>
                </div>
            </div>
        </div>

        <div class="back-2">
            <a href="" ng-click="appCtrl.goTo({nombre: 'Volver', path: '/#'});">
                <div class="arrow-left"></div> Volver
            </a>
        </div>

        <div class="slider-indicator" ng-if="!noticiasCtrl.buscar">
            <div class="slider_1" ng-class="{slider_selected:noticiasCtrl.slider_nro==1}"
                 ng-if="noticiasCtrl.slider_1"
                 ng-click="noticiasCtrl.slider_nro=1;"></div>
            <div class="slider_2" ng-class="{slider_selected:noticiasCtrl.slider_nro==2}"
                 ng-if="noticiasCtrl.slider_2"
                 ng-click="noticiasCtrl.slider_nro=2;"></div>
            <div class="slider_3" ng-class="{slider_selected:noticiasCtrl.slider_nro==3}"
                 ng-if="noticiasCtrl.slider_3"
                 ng-click="noticiasCtrl.slider_nro=3;"></div>
            <div class="slider_4" ng-class="{slider_selected:noticiasCtrl.slider_nro==4}"
                 ng-if="noticiasCtrl.slider_4"
                 ng-click="noticiasCtrl.slider_nro=4;"></div>
            <div class="slider_5" ng-class="{slider_selected:noticiasCtrl.slider_nro==5}"
                 ng-if="noticiasCtrl.slider_5"
                 ng-click="noticiasCtrl.slider_nro=5;"></div>
        </div>
    </div>
</div>

