<div ng-controller="NoticiaController as noticiaCtrl" class="container container-color container-menu-margin">
    <div class="container-info">
        <div class="show-noticia-container">
            <div class="show-noticia-foto">
                <img src="" title="Foto 1" alt="Foto 1">
            </div>
            <div class="show-noticia-info">
                <h3 class="color-default">{{noticiaCtrl.titulo}}</h3>
                <p>{{noticiaCtrl.noticia.detalles}}</p>
                <a href="" ng-click="noticiaCtrl.showNoticia(noticiaCtrl.noticia);">Ver</a>
            </div>
        </div>

        <div class="back">
            <div class="arrow-left"></div>
            <a href="" ng-click="appCtrl.goTo({nombre: 'Volver', path: '/noticias'});">Volver</a>
        </div>

    </div>
</div>

