/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 44, ../sass/screen.scss */
body {
  font-family: Arial;
  color: #333;
  line-height: 1.42857143;
}

/* line 51, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 55, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 59, ../sass/screen.scss */
*:focus {
  outline: 0;
}

/* line 63, ../sass/screen.scss */
.color-default {
  color: #000;
}

/* line 67, ../sass/screen.scss */
.color-primary {
  color: #ce5f2d;
}

/* line 71, ../sass/screen.scss */
.color-terciary {
  color: #a1cca5;
}

/* line 76, ../sass/screen.scss */
.header {
  max-width: 100%;
  width: 100%;
  height: 50px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17384a+0,090b0f+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 1000;
}
@media (min-width: 800px) {
  /* line 76, ../sass/screen.scss */
  .header {
    display: flex;
    justify-content: center;
    height: 140px;
    background-color: #fff;
    -webkit-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 15px 5px -9px rgba(0, 0, 0, 0.09);
  }
}

/* line 122, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 8px;
}

/* line 126, ../sass/screen.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/* line 131, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* line 136, ../sass/screen.scss */
select {
  background-color: white;
}

/* line 141, ../sass/screen.scss */
select option {
  color: #ce5f2d;
  background-color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* line 150, ../sass/screen.scss */
.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 158, ../sass/screen.scss */
.nav-button {
  flex: 1;
  margin-top: 15px;
  margin-left: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transform-origin: 13px 13px;
  transform-style: preserve-3D;
}
/* line 173, ../sass/screen.scss */
.nav-button div {
  cursor: pointer;
  width: 25px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  margin: 4px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
/* line 187, ../sass/screen.scss */
.nav-button .nav-button-top-transformed {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 194, ../sass/screen.scss */
.nav-button .nav-button-mid-transformed {
  -webkit-transform: translate(-3px, 0px);
  -moz-transform: translate(-3px, 0px);
  -ms-transform: translate(-3px, 0px);
  -o-transform: translate(-3px, 0px);
  transform: translate(-3px, 0px);
}
/* line 201, ../sass/screen.scss */
.nav-button .nav-button-bot-transformed {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* line 210, ../sass/screen.scss */
.menu-mobile {
  display: flex;
  height: 100%;
  z-index: 100;
}
/* line 220, ../sass/screen.scss */
.menu-mobile .header-separator {
  height: 40px;
  margin-top: 5px;
  width: 2px;
  margin-left: 40px;
  background-color: white;
}
/* line 228, ../sass/screen.scss */
.menu-mobile .logo {
  flex: 5;
  padding: 5px;
  margin-right: 15px;
  text-align: right;
  margin-top: 15px;
}

/*
.bienvenidos {
  color: white;
  margin-left: 30px;
  margin-top: 15px;
  font-family: 'Montserrat Semibold', serif;
  font-size: 25px;
  text-align: left;
}
*/
/* line 248, ../sass/screen.scss */
.menu-mobile-panel {
  width: 70%;
  color: white;
  background-color: #17384B;
  position: fixed;
  bottom: 0px;
  top: 50px;
  z-index: 500;
  height: 100%;
  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);
}
/* line 259, ../sass/screen.scss */
.menu-mobile-panel .menu-desktop-btn {
  margin-top: 15px;
  font-family: 'Oswald', sans-serif;
  line-height: 18px;
  padding: 5px;
  font-variant: all-petite-caps;
  color: #000;
}
@media (min-width: 800px) {
  /* line 248, ../sass/screen.scss */
  .menu-mobile-panel {
    visibility: collapse;
    display: none;
  }
}

/* line 280, ../sass/screen.scss */
.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

/* line 288, ../sass/screen.scss */
.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

/* line 294, ../sass/screen.scss */
.menu-mobile-panel-show-remove {
  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
}
@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}
/* line 336, ../sass/screen.scss */
.menu-type-desktop {
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
@media (max-width: 799px) {
  /* line 336, ../sass/screen.scss */
  .menu-type-desktop {
    visibility: collapse;
    display: none !important;
  }
}

@media (min-width: 800px) {
  /* line 349, ../sass/screen.scss */
  .menu-type-mobile {
    visibility: collapse;
    display: none !important;
  }
}

@media (min-width: 800px) {
  /* line 356, ../sass/screen.scss */
  .header-as-main {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-align: justify;
  }
  /* line 367, ../sass/screen.scss */
  .header-as-main #menu-desktop-logo {
    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
    pointer-events: none;
  }
}

@keyframes latido {
  0% {
    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
  }
  75% {
    -webkit-transform: scale(5.2, 5.2);
    -moz-transform: scale(5.2, 5.2);
    -ms-transform: scale(5.2, 5.2);
    -o-transform: scale(5.2, 5.2);
    transform: scale(5.2, 5.2);
  }
  100% {
    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
  }
}
/* line 412, ../sass/screen.scss */
.menu-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;
  height: 100px;
}
/* line 423, ../sass/screen.scss */
.menu-desktop #menu-desktop-logo {
  background-color: transparent;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  z-index: 401;
  -webkit-transform-origin: 50% 0%;
  -moz-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  -o-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
}
/* line 450, ../sass/screen.scss */
.menu-desktop #menu-desktop-logo:hover {
  cursor: pointer;
}
/* line 456, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-upper {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  flex: 0;
}
/* line 466, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower {
  background-color: transparent;
  max-height: 35px;
  padding: 5px;
  margin-bottom: 30px;
  max-width: 100%;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}
/* line 482, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower #menu-desktop-lower-inner {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
/* line 489, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  color: black;
  padding: 5px 8px;
  position: relative;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}
@media (max-width: 1000px) {
  /* line 489, ../sass/screen.scss */
  .menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn {
    font-size: 14px;
  }
}
/* line 516, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn-selected {
  color: #ce5f2d;
  opacity: 1;
}
/* line 527, ../sass/screen.scss */
.menu-desktop #menu-desktop-right #menu-desktop-lower .menu-desktop-btn:hover {
  color: #ce5f2d;
  opacity: 1;
}

/* line 545, ../sass/screen.scss */
.display-menu-desktop {
  display: none;
}

/* line 549, ../sass/screen.scss */
.display-header {
  display: none;
}

/* line 554, ../sass/screen.scss */
.view-container {
  display: flex;
  margin-top: 15%;
}
@media (min-width: 800px) {
  /* line 554, ../sass/screen.scss */
  .view-container {
    margin-top: 135px;
    height: 600px;
  }
}

/* line 567, ../sass/screen.scss */
.view-container.ng-enter {
  -webkit-animation: view-in 1s ease;
  -o-animation: view-in 1s ease;
  animation: view-in 1s ease;
  position: absolute;
  width: 100%;
}

/* line 574, ../sass/screen.scss */
.view-container.ng-leave {
  -webkit-animation: view-out 1s ease;
  -o-animation: view-out 1s ease;
  animation: view-out 1s ease;
  position: absolute;
  width: 100%;
}

@keyframes view-in {
  0% {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes view-out {
  0% {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
    opacity: 0;
  }
}
/* line 635, ../sass/screen.scss */
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0;
}
@media (min-width: 800px) {
  /* line 635, ../sass/screen.scss */
  h1 {
    font-size: 80px;
  }
}

/* line 645, ../sass/screen.scss */
h3 {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  padding: 10px 0;
  color: darkgoldenrod;
  font-variant: all-small-caps;
}

/* line 653, ../sass/screen.scss */
h5 {
  font-size: 16px;
  font-weight: bold;
}

/* line 658, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 662, ../sass/screen.scss */
.container {
  width: 100%;
  padding: 10px 0;
  text-align: justify;
}

/* line 668, ../sass/screen.scss */
.container-menu-margin {
  margin-top: 50px;
}
@media (min-width: 800px) {
  /* line 668, ../sass/screen.scss */
  .container-menu-margin {
    margin-top: 0;
  }
}

/* line 675, ../sass/screen.scss */
.container-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaefb5+0,e1e9a0+100;Wax+Flat */
  background: #eaefb5;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #eaefb5 0%, #e1e9a0 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #eaefb5 0%, #e1e9a0 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #eaefb5 0%, #e1e9a0 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 688, ../sass/screen.scss */
.container-info {
  margin: 0 20px;
}
@media (min-width: 800px) {
  /* line 688, ../sass/screen.scss */
  .container-info {
    margin: 0 20%;
  }
}

/* line 695, ../sass/screen.scss */
.container-info p {
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: 400;
}

/* line 706, ../sass/screen.scss */
.logo-container {
  text-align: center;
}

/* line 711, ../sass/screen.scss */
.logo-size {
  width: 250px;
  height: 150px;
}
@media (min-width: 800px) {
  /* line 711, ../sass/screen.scss */
  .logo-size {
    width: 450px;
    height: 300px;
  }
}

/* line 720, ../sass/screen.scss */
.logo-small {
  width: 90px;
  height: 40px;
}

/* line 725, ../sass/screen.scss */
.menu-principal {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

/* line 731, ../sass/screen.scss */
.menu-ul {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 800px) {
  /* line 731, ../sass/screen.scss */
  .menu-ul {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

/* line 743, ../sass/screen.scss */
.menu-ul > li {
  padding: 0.5em 0;
  border-bottom: 2px solid #a1cca5;
}
@media (min-width: 800px) {
  /* line 743, ../sass/screen.scss */
  .menu-ul > li {
    padding: 0.5em 0.5em;
    border-right: 2px solid #a1cca5;
    border-bottom: 0;
  }
}

/* line 753, ../sass/screen.scss */
.menu-ul > li > a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  text-transform: uppercase;
}

/* line 762, ../sass/screen.scss */
.menu-ul > li > a:hover {
  color: #ce5f2d;
}

/* line 766, ../sass/screen.scss */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #a1cca5;
}

/* line 774, ../sass/screen.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f00;
}

/* line 782, ../sass/screen.scss */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #000;
  margin-left: 5px;
}

/* line 791, ../sass/screen.scss */
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid #ce5f2d;
}

/* line 799, ../sass/screen.scss */
.back {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
  margin-top: 30px;
}

/* line 807, ../sass/screen.scss */
.btn-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
}

/* line 816, ../sass/screen.scss */
.back > a, .btn-action > a {
  margin-left: 10px;
  text-decoration: none;
  color: #000;
}

/* line 822, ../sass/screen.scss */
.btn-action > a {
  margin: 5px 0 0 0;
}

/* line 826, ../sass/screen.scss */
.back > a:hover, .btn-action > a:hover {
  color: #ce5f2d;
}

/* line 830, ../sass/screen.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  border: solid 0px;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  background-color: transparent;
  margin: 0 0 10px;
}

/* line 844, ../sass/screen.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
}

/* line 852, ../sass/screen.scss */
.form-control {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

/* line 869, ../sass/screen.scss */
.noticia-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

/* line 875, ../sass/screen.scss */
.show-noticia-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

/* line 881, ../sass/screen.scss */
.noticia-foto {
  /*
border: 1px solid $color_6;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
*/
}

/* line 890, ../sass/screen.scss */
.show-noticia-foto {
  margin: 30px 0 20px;
}

/* line 894, ../sass/screen.scss */
.noticia-foto > img {
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: lightgrey;
  text-align: center;
}

/* line 905, ../sass/screen.scss */
.show-noticia-foto > img {
  height: 200px;
  width: 100%;
  border: 1px solid #000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

/* line 915, ../sass/screen.scss */
.noticia-info {
  margin-left: 20px;
}

/* line 919, ../sass/screen.scss */
.show-noticia-info {
  margin: 0 15px;
}

/* line 923, ../sass/screen.scss */
.noticia-info > p, .show-noticia-info > p {
  font-size: 12px;
}

/* line 927, ../sass/screen.scss */
.buscar {
  margin-top: 20px;
}

/* line 931, ../sass/screen.scss */
.buscar-control {
  width: 89%;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media (min-width: 800px) {
  /* line 940, ../sass/screen.scss */
  .contacto-container {
    flex-direction: row;
    display: flex;
    width: 80%;
  }

  /* line 945, ../sass/screen.scss */
  .arrow-contacto {
    border-left: 1px solid #000;
    margin-right: 5%;
    display: flex;
    align-items: center;
    margin-left: 10%;
  }

  /* line 952, ../sass/screen.scss */
  .contacto-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  /* line 958, ../sass/screen.scss */
  .contacto-controls > .controls {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  /* line 964, ../sass/screen.scss */
  .contacto-controls > .controls > .form-control {
    display: inline;
    width: 60%;
  }
}
/* line 970, ../sass/screen.scss */
.sabias-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* line 979, ../sass/screen.scss */
.sabias-container {
  height: 300px;
  width: 350px;
  border: 1px solid #a1cca5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
@media (min-width: 800px) {
  /* line 979, ../sass/screen.scss */
  .sabias-container {
    width: 800px;
  }
}

/* line 991, ../sass/screen.scss */
.sabias-container-2 {
  height: 278px;
  width: 328px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #a1cca5;
  margin: 10px;
}
@media (min-width: 800px) {
  /* line 991, ../sass/screen.scss */
  .sabias-container-2 {
    width: 780px;
  }
}

/* line 1004, ../sass/screen.scss */
.slider-indicator {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* line 1010, ../sass/screen.scss */
.slider_1, .slider_2, .slider_3, .slider_4, .slider_5 {
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 10px;
}

/* line 1019, ../sass/screen.scss */
.slider_selected {
  background-color: #8CC63F;
  border: 1px solid #fff;
}

/* line 1026, ../sass/screen.scss */
.footer {
  font-family: Arial, serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 160px;
}
@media (min-width: 800px) {
  /* line 1026, ../sass/screen.scss */
  .footer {
    position: relative;
    bottom: 0;
    font-size: 12px;
    height: 40px;
  }
}

/* line 1044, ../sass/screen.scss */
.footer > p {
  margin: 35px 50px;
  text-align: center;
}
@media (min-width: 800px) {
  /* line 1044, ../sass/screen.scss */
  .footer > p {
    margin: 10px 0;
  }
}

/* line 1052, ../sass/screen.scss */
.footer > p > a {
  text-decoration: none;
  color: #ce5f2d;
}

/*
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  height: 100%;
}

.flex-menu:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #000;
  @media (min-width: 700px) {
    background-color: #fff;
  }
}

.flex-content:nth-child(2) {
  order: 1;
  flex: 3 1 auto;
  align-self: auto;
  background-color: #eee;
}

.flex-footer:nth-child(3) {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #a1cca5;
}

.nav-menu{
  //background-color: #000000;
  height: 60px;
  @media (min-width: 700px) {
    height: 160px;
  }
}
.menu-mobile {
  margin-top: 20px;
}

.container-main{
  background-color: #fff;
  text-align: center;
}
.container{
  background-color: $background_primary;
  padding: 10px 0;
  text-align: justify;
}
.container-fluid{
  background-color: #eee;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 700px) {
    padding-left: 25%;
    padding-right: 25%;
  }
}

.menu {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (min-width: 700px) {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}
.menu > li {
  padding: 0.5em 0;
  border-bottom: 1px solid $color_4;
  @media (min-width: 700px) {
    padding: 0.5em 0.5em;
    border-right: 1px solid #9DCDA6;
    border-bottom: 0;
  }
}
.menu > li > a{
  text-decoration: none;
  cursor: pointer;
  color:$font_primary_color;
  //padding-bottom: 11px;
  //margin: 27px 0 18px;
  text-transform: uppercase;
}
.menu > li > a:hover{
  color:$color_2;
}
.row{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer-link{
  color:$color_2;
}
footer{
  text-align: center;
  //padding: 30px 20px 15px 20px;
  //position: absolute;
  bottom: 0;
  width: 100%;
  //height: 60px;
  @media (min-width: 700px) {
    //position: absolute;
  }
}
footer > p{
  font-size: 0.7em;
  margin: 15px auto;

  @media (max-width: 700px) {
    font-size: 16px;
    margin: 20px 50px;
  }
}
.primary-color{
  color:$color_2;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $color_4;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f00;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid green;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right:15px solid $color_2;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  border: solid 0px;
  border-bottom-width: 1px;
  border-bottom-color: $color_2;
  background-color: transparent;
  margin: 0 0 10px;
  //padding: 10px 5px 5px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  //font-weight: 500;
}
.form-control{
  display: block;
  width: 100%;
  height: 30px;
  //padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  //background-color: #fff;
  background-image: none;
  //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

*/
/* line 1254, ../sass/screen.scss */
#main-slider {
  height: 370px;
  position: relative;
}
/* line 1260, ../sass/screen.scss */
#main-slider h1 {
  color: black;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
}
/* line 1269, ../sass/screen.scss */
#main-slider p {
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 1277, ../sass/screen.scss */
#main-slider img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
  text-align: center;
}
/* line 1285, ../sass/screen.scss */
#main-slider .button-ver {
  width: 54px;
  height: 32px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  background-color: #00a148;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  color: white;
  padding: 5px;
  align-items: center;
  outline: none;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
/* line 1307, ../sass/screen.scss */
#main-slider .button-ver:hover {
  cursor: pointer;
  background-color: orange;
}
/* line 1319, ../sass/screen.scss */
#main-slider .main-slider-proyecto {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 94%;
  height: 98%;
  margin: auto;
  z-index: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 1343, ../sass/screen.scss */
.show-slider-proyecto {
  opacity: 1 !important;
  z-index: 0;
  pointer-events: all !important;
}
