/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 37, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 44, ../sass/screen.scss */
body {
  font-family: Arial;
  color: #333;
  line-height: 1.42857143;
}

/* line 50, ../sass/screen.scss */
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  height: 100%;
}

/* line 60, ../sass/screen.scss */
.flex-menu:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #000;
}
@media (min-width: 700px) {
  /* line 60, ../sass/screen.scss */
  .flex-menu:nth-child(1) {
    background-color: #fff;
  }
}

/* line 70, ../sass/screen.scss */
.flex-content:nth-child(2) {
  order: 1;
  flex: 3 1 auto;
  align-self: auto;
  background-color: #eee;
}

/* line 77, ../sass/screen.scss */
.flex-footer:nth-child(3) {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #a1cca5;
}

/* line 84, ../sass/screen.scss */
.nav-menu {
  height: 60px;
}
@media (min-width: 700px) {
  /* line 84, ../sass/screen.scss */
  .nav-menu {
    height: 160px;
  }
}

/* line 91, ../sass/screen.scss */
.menu-mobile {
  margin-top: 20px;
}

/* line 94, ../sass/screen.scss */
h1 {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 0;
}
@media (min-width: 700px) {
  /* line 94, ../sass/screen.scss */
  h1 {
    font-size: 80px;
  }
}

/* line 102, ../sass/screen.scss */
h3 {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  color: #a1cca5;
}

/* line 108, ../sass/screen.scss */
strong {
  font-weight: bold;
}

/* line 111, ../sass/screen.scss */
.container-main {
  background-color: #fff;
  text-align: center;
}

/* line 115, ../sass/screen.scss */
.container {
  background-color: #eee;
  padding: 10px 0;
  text-align: justify;
}

/* line 120, ../sass/screen.scss */
.container-fluid {
  background-color: #eee;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 700px) {
  /* line 120, ../sass/screen.scss */
  .container-fluid {
    padding-left: 25%;
    padding-right: 25%;
  }
}

/* line 130, ../sass/screen.scss */
.logo {
  text-align: center;
}

/* line 133, ../sass/screen.scss */
.logo-size {
  width: 250px;
  height: 150px;
}
@media (min-width: 700px) {
  /* line 133, ../sass/screen.scss */
  .logo-size {
    width: 500px;
    height: 350px;
  }
}

/* line 141, ../sass/screen.scss */
.logo-small {
  width: 90px;
  height: 40px;
}

/* line 145, ../sass/screen.scss */
.menu {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  /* line 145, ../sass/screen.scss */
  .menu {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

/* line 156, ../sass/screen.scss */
.menu > li {
  padding: 0.5em 0;
  border-bottom: 1px solid #a1cca5;
}
@media (min-width: 700px) {
  /* line 156, ../sass/screen.scss */
  .menu > li {
    padding: 0.5em 0.5em;
    border-right: 1px solid #9DCDA6;
    border-bottom: 0;
  }
}

/* line 165, ../sass/screen.scss */
.menu > li > a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
  text-transform: uppercase;
}

/* line 173, ../sass/screen.scss */
.menu > li > a:hover {
  color: #ce5f2d;
}

/* line 176, ../sass/screen.scss */
.row {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 182, ../sass/screen.scss */
.footer-link {
  color: #ce5f2d;
}

/* line 185, ../sass/screen.scss */
footer {
  text-align: center;
  bottom: 0;
  width: 100%;
}

/* line 196, ../sass/screen.scss */
footer > p {
  font-size: 0.7em;
  margin: 15px auto;
}
@media (max-width: 700px) {
  /* line 196, ../sass/screen.scss */
  footer > p {
    font-size: 16px;
    margin: 20px 50px;
  }
}

/* line 205, ../sass/screen.scss */
.primary-color {
  color: #ce5f2d;
}

/* line 208, ../sass/screen.scss */
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #a1cca5;
}

/* line 215, ../sass/screen.scss */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f00;
}

/* line 222, ../sass/screen.scss */
.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid green;
}

/* line 229, ../sass/screen.scss */
.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ce5f2d;
}

/* line 236, ../sass/screen.scss */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  border: solid 0px;
  border-bottom-width: 1px;
  border-bottom-color: #ce5f2d;
  background-color: transparent;
  margin: 0 0 10px;
}

/* line 249, ../sass/screen.scss */
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

/* line 255, ../sass/screen.scss */
.form-control {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
