/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

//Fonts Faces
//$font_primary: "Myriad Pro Condensed";
//$font_secundary: "Myriad Pro Bold Condensed";

$font_primary_color: #333;
$font_secundary_color: #9DCDA6;
$font_terciary_color: #C57161;

$background_primary: #eee;
$background_secundary: #000;

$color_primary: #333;
//$color_secundary:#9DCDA6;;
//$color_terciary:#C57161;

$color_1: #fbe083;
$color_2: #ce5f2d;
$color_3: #50232e;
$color_4: #a1cca5;
$color_5: #eee;
$color_6: #000;
$color_7: #8CC63F;

@import "compass/reset";
@import "compass";
@import "compass/css3/font-face";
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
//@include font-face($font_primary, font-files("MYRIADPRO-COND.woff"));
//@include font-face($font_secundary, font-files("MYRIADPRO-BOLDCOND.woff"));

//@include font-face($myriad_pro_bold, font-files("MYRIADPRO-BOLD.woff"));
//@include font-face($myriad_pro_regular, font-files("MYRIADPRO-REGULAR.woff"));

html, body {
  //height: 100%;

}

body {
  //font-family: $font_secundary, Arial;
  font-family: Arial;
  color: $font_primary_color;
  line-height: 1.42857143;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

*:focus {
  outline: 0;
}

.color-default {
  color: $color_6;
}

.color-primary {
  color: $color_2;
}

.color-terciary {
  color: $color_4;
}

//SECCION PARA EL MENU
.header {
  max-width: 100%;
  width: 100%;
  height: 50px;

  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17384a+0,090b0f+100 */
  //background: rgb(23, 56, 74); /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */

  //background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3Mzg0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwOTBiMGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  //background: -moz-linear-gradient(top, rgba(23, 56, 74, 1) 0%, rgba(9, 11, 15, 1) 100%); /* FF3.6+ */
  //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(23, 56, 74, 1)), color-stop(100%, rgba(9, 11, 15, 1))); /* Chrome,Safari4+ */
  //background: -webkit-linear-gradient(top, rgba(23, 56, 74, 1) 0%, rgba(9, 11, 15, 1) 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-linear-gradient(top, rgba(23, 56, 74, 1) 0%, rgba(9, 11, 15, 1) 100%); /* Opera 11.10+ */
  //background: -ms-linear-gradient(top, rgba(23, 56, 74, 1) 0%, rgba(9, 11, 15, 1) 100%); /* IE10+ */
  //background: linear-gradient(to bottom, rgba(23, 56, 74, 1) 0%, rgba(9, 11, 15, 1) 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#17384a', endColorstr='#090b0f', GradientType=0); /* IE6-8 */

  background-color: $color_6;

  position: fixed;
  top: 0;
  z-index: 1000;
  //-webkit-transform: translate3d(0, 0, 0);
  //-moz-transform: translate3d(0, 0, 0);
  //-ms-transform: translate3d(0, 0, 0);
  //-o-transform: translate3d(0, 0, 0);
  //transform: translate3d(0, 0, 0);
  @media (min-width: 800px) {
    display: flex;
    justify-content: center;
    //height: 120px;
    height: 140px;
    background-color: #fff;
    -webkit-box-shadow: 0px 15px 5px -9px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 15px 5px -9px rgba(0,0,0,0.09);
    box-shadow: 0px 15px 5px -9px rgba(0,0,0,0.09);
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

select {
  //color: white;
  background-color: white;
}

select option {
  //color: white;
  color: $color_2;
  background-color: black;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.nav-button-transformed {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.nav-button {
  flex: 1;

  margin-top: 15px;
  margin-left: 15px;

  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  transform-origin: 13px 13px;
  transform-style: preserve-3D;

  div {
    cursor: pointer;
    width: 25px;
    height: 4px;
    border-radius: 2px;
    background-color: #ffffff;
    margin: 4px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }

  .nav-button-top-transformed {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .nav-button-mid-transformed {
    -webkit-transform: translate(-3px, 0px);
    -moz-transform: translate(-3px, 0px);
    -ms-transform: translate(-3px, 0px);
    -o-transform: translate(-3px, 0px);
    transform: translate(-3px, 0px);
  }
  .nav-button-bot-transformed {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

.menu-mobile {
  display: flex;
  height: 100%;
  //  background-color: #ffffff;
  //  width: 20px;
  //  position: fixed;
  z-index: 100;
  //  left: 20px;
  //  top: 10px;

  .header-separator {
    height: 40px;
    margin-top: 5px;
    width: 2px;
    margin-left: 40px;
    background-color: white;
  }

  .logo {
    flex: 5;
    padding: 5px;
    margin-right: 15px;
    text-align: right;
    //background-color: green;
    margin-top: 15px;
  }
}

/*
.bienvenidos {
  color: white;
  margin-left: 30px;
  margin-top: 15px;
  font-family: 'Montserrat Semibold', serif;
  font-size: 25px;
  text-align: left;
}
*/
.menu-mobile-panel {
  width: 70%;
  color: white;
  //background-color: #17384B;
  background-color: $color_4;
  position: fixed;
  bottom: 0px;
  top: 50px;
  z-index: 500;
  height: 100%;
  //border: 5px solid white;

  .menu-desktop-btn {
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Oswald', sans-serif;
    line-height: 18px;
    padding: 5px;
    font-variant: all-petite-caps;
    color: $color_6;
  }

  -webkit-transform: translate(-1000px, 0);
  -moz-transform: translate(-1000px, 0);
  -ms-transform: translate(-1000px, 0);
  -o-transform: translate(-1000px, 0);
  transform: translate(-1000px, 0);

  @media (min-width: 800px) {
    visibility: collapse;
    display: none;
  }
}

.menu-mobile-panel-show {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

.menu-mobile-panel-show-add {
  -webkit-animation: menu-mobile-enter 0.4s;
  -o-animation: menu-mobile-enter 0.4s;
  animation: menu-mobile-enter 0.4s;
}

.menu-mobile-panel-show-remove {

  -webkit-animation: menu-mobile-leave 0.4s;
  -o-animation: menu-mobile-leave 0.4s;
  animation: menu-mobile-leave 0.4s;
}

@keyframes menu-mobile-enter {
  0% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  100% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }

}

@keyframes menu-mobile-leave {
  0% {
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }
  100% {
    -webkit-transform: translate(-1000px, 0);
    -moz-transform: translate(-1000px, 0);
    -ms-transform: translate(-1000px, 0);
    -o-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
}

.menu-type-desktop {

  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  -ms-transition: transform 0.4s ease;
  -o-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  @media (max-width: 799px) {
    visibility: collapse;
    display: none !important;
  }
}

.menu-type-mobile {
  @media (min-width: 800px) {
    visibility: collapse;
    display: none !important;
  }
}

.header-as-main {
  @media(min-width: 800px) {
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-align: justify;
    #menu-desktop-upper {
    }
    #menu-desktop-lower {
    }

    #menu-desktop-logo {
        -webkit-transform: scale(5, 5);
        -moz-transform: scale(5, 5);
        -ms-transform: scale(5, 5);
        -o-transform: scale(5, 5);
        transform: scale(5, 5);

      //-webkit-animation: latido 1s infinite;
      //-o-animation: latido 1s infinite;
      //animation: latido 1s infinite;
      pointer-events: none;


    }
  }

}

@keyframes latido{
  0%{

    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
  }
  75%{

    -webkit-transform: scale(5.2, 5.2);
    -moz-transform: scale(5.2, 5.2);
    -ms-transform: scale(5.2, 5.2);
    -o-transform: scale(5.2, 5.2);
    transform: scale(5.2, 5.2);
  }
  100%{

    -webkit-transform: scale(5, 5);
    -moz-transform: scale(5, 5);
    -ms-transform: scale(5, 5);
    -o-transform: scale(5, 5);
    transform: scale(5, 5);
  }
}

.menu-desktop {
  display: flex;
  //flex-direction: row;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100%;
  max-width: 1200px;
  min-width: 600px;
  width: 1020px;
  height: 100px;
  #menu-desktop-logo {
    //background-color: #406276;
    background-color: transparent;
    margin-right: 10px;
    margin-left: 10px;
    padding: 5px;
    z-index: 401;
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;

    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -ms-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;

    img {
      //margin-left: 10px;
      //padding-bottom: 10px;
      //margin: 20px 0;
    }

  }

  #menu-desktop-logo:hover {
    cursor: pointer;
  }

  #menu-desktop-right {

    #menu-desktop-upper {

      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      flex: 0;
    }

    #menu-desktop-lower {
      background-color: transparent;

      max-height: 35px;
      padding: 5px;

      margin-bottom: 30px;
      max-width: 100%;


      -webkit-transition: all .4s ease-in-out;
      -moz-transition: all .4s ease-in-out;
      -ms-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      
      #menu-desktop-lower-inner {
        max-width: 1000px;
        width: 100%;
        display: flex;
        flex-direction: row;
      }

      .menu-desktop-btn {
        cursor: pointer;
        font-family: 'Oswald', sans-serif;
        color: black;
        //font-weight: lighter;
        //letter-spacing: .9px;
        //margin-top: 10px;
        //margin-right: 15px;
        padding: 5px 8px;
        //font-size: 16px;
        //max-height: 26px;
        position: relative;
        //color: white;

        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;

        @media (max-width: 1000px) {
          //font-size: 11px;
          font-size: 14px;
        }

      }

      .menu-desktop-btn-selected {
        //color: white;
        color: $color_2;
        //border-radius: 2px;
        //background-color: #406276;
        opacity: 1;
        //-webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.44);
        //-moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.44);
        //box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.44);

      }
      .menu-desktop-btn:hover {
        //color: white;
        color: $color_2;
        //border-radius: 2px;
        //background-color: #406276;
        opacity: 1;

        //-webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.44);
        //-moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.44);
        //box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.44);

      }

    }
  }

}

.display-menu-desktop {
  display: none;
}

.display-header {
  display: none;
}

//SECCION PARA EL CONTENEDOR CON INFORMACION
.view-container {
  display: flex;
  //margin-top: 100px;
  margin-top: 15%;
  

  @media (min-width: 800px) {
    //margin-top: 140px;
    margin-top: 135px;
    height: 600px;
  }
}

.view-container.ng-enter{
  -webkit-animation: view-in 1s ease;
  -o-animation: view-in 1s ease;
  animation: view-in 1s ease;
  position: absolute;
  width: 100%;
}
.view-container.ng-leave{
  -webkit-animation: view-out 1s ease;
  -o-animation: view-out 1s ease;
  animation: view-out 1s ease;
  position: absolute;
  width: 100%;
}


@keyframes view-in {
  0%{
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 0;
  }

  20%{
  opacity: 0;

  }

  100%{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }
  
}

@keyframes view-out {
  0%{
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1;
  }

  20%{
    opacity: 0;

  }
  100%{
    -webkit-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -ms-transform: translateY(200%);
    -o-transform: translateY(200%);
    transform: translateY(200%);
    opacity: 0;
  }

}


h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  font-weight: bold;
  padding: 5px 0;
  @media (min-width: 800px) {
    font-size: 80px;
  }
}

h3 {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  padding: 10px 0;
  color: darkgoldenrod;
  font-variant: all-small-caps;
}

h5 {
  font-size: 16px;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

.container {
  width: 100%;
  padding: 10px 0;
  text-align: justify;
}

.container-menu-margin {
  margin-top: 50px;
  @media (min-width: 800px) {
    margin-top: 0;
  }
}

.container-color {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eaefb5+0,e1e9a0+100;Wax+Flat */
  background: rgb(234,239,181); /* Old browsers */
  background: -moz-linear-gradient(-45deg,  rgba(234,239,181,1) 0%, rgba(225,233,160,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  rgba(234,239,181,1) 0%,rgba(225,233,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaefb5', endColorstr='#e1e9a0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */




}

.container-info {
  margin: 0 20px;
  @media (min-width: 800px) {
    margin: 0 20%;
  }
}

.container-info p{
  font-size: 17px;
  font-family: 'Oswald', sans-serif;
  color: black;
  font-weight: 400;


}



.logo-container {
  text-align: center;

}

.logo-size {
  width: 250px;
  height: 150px;
  @media (min-width: 800px) {
    width: 450px;
    height: 300px;
  }
}

.logo-small {
  width: 90px;
  height: 40px;
}

.menu-principal {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.menu-ul {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (min-width: 800px) {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}

.menu-ul > li {
  padding: 0.5em 0;
  border-bottom: 2px solid $color_4;
  @media (min-width: 800px) {
    padding: 0.5em 0.5em;
    border-right: 2px solid $color_4;
    border-bottom: 0;
  }
}

.menu-ul > li > a {
  text-decoration: none;
  cursor: pointer;
  color: $color_6;
  //padding-bottom: 11px;
  //margin: 27px 0 18px;
  text-transform: uppercase;
}

.menu-ul > li > a:hover {
  color: $color_2;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $color_4;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid $color_6;
  margin-left: 5px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 15px solid $color_2;
}

.back {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  //margin-right: 15%;
  //margin-top: 30px;
  margin: 20px 15% 20px 0;
  //@media (min-width: 800px) {
  //  margin: 30px 15% 0 0;
  //}
}

.btn-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
}

.back > a, .btn-action > a {
  margin-left: 10px;
  text-decoration: none;
  color: $color_6;
}

.btn-action > a {
  margin: 5px 0 0 0;
}

.back > a:hover, .btn-action > a:hover {
  color: $color_2;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  border: solid 0px;
  border-bottom-width: 1px;
  border-bottom-color: $color_6;
  background-color: transparent;
  margin-left: 5px;
  //margin: 0 0 10px;
  //padding: 10px 5px 5px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-family: 'Oswald', sans-serif;
  //font-weight: 500;
}

.form-control {
  display: block;
  width: 100%;
  height: 30px;
  //padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  //background-color: #fff;
  background-image: none;
  //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.noticia-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.show-noticia-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.noticia-foto {
    /*
  border: 1px solid $color_6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  */
}

.show-noticia-foto {
  margin: 30px 0 20px;
}

.noticia-foto > img {
  height: 100px;
  width: 100px;
  border: 1px solid $color_6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: lightgrey;
  text-align: center;
}

.show-noticia-foto > img {
  height: 200px;
  width: 100%;
  border: 1px solid $color_6;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
}

.noticia-info {
  margin-left: 20px;
}

.show-noticia-info {
  margin: 0 15px;
}

.noticia-info > p, .show-noticia-info > p {
  font-size: 12px;
}

.buscar {
  margin-top: 20px;
}

.buscar-control {
  width: 89%;
  background-image: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.arrow-contacto {
  display: none;
}

@media (min-width: 800px) {
  .contacto-container {
    flex-direction: row;
    display: flex;
    width: 80%;
  }
  .arrow-contacto {
    border-left: 1px solid $color_6;
    margin-right: 5%;
    display: flex;
    align-items: center;
    margin-left: 10%;
  }
  .contacto-controls {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .contacto-controls > .controls {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .contacto-controls > .controls > .form-control {
    display: inline;
    width: 60%;
  }
}

.sabias-slider {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  width: 100%;

}

.sabias-container {
  height: 300px;
  width: 350px;
  border: 1px solid $color_4;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  @media (min-width: 800px) {
    width: 800px;
  }
}

.sabias-container-2 {
  height: 278px;
  width: 328px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: $color_4;
  margin: 10px;
  @media (min-width: 800px) {
    width: 780px;
  }
}

.slider-indicator {
  display: flex;
  justify-content: center;
  width: 100%;
}

.slider_1, .slider_2, .slider_3, .slider_4, .slider_5 {
  border: 1px solid #333;
  border-radius: 10px;
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 10px;
}

.slider_selected {
  background-color: $color_7;
  border: 1px solid #fff;
}

//=========================================================================0
//SECCION PARA EL FOOTER
.footer {
  font-family: Arial, serif;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 160px;
  @media (min-width: 800px) {
    //position: absolute;
    position: relative;
    bottom: 0;
    font-size: 12px;
    height: 40px;
  }
}

.footer > p {
  margin: 35px 50px;
  text-align: center;
  @media (min-width: 800px) {
    margin: 10px 0;
  }
}

.footer > p > a {
  text-decoration: none;
  color: $color_2;
}

/*
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  height: 100%;
}

.flex-menu:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #000;
  @media (min-width: 700px) {
    background-color: #fff;
  }
}

.flex-content:nth-child(2) {
  order: 1;
  flex: 3 1 auto;
  align-self: auto;
  background-color: #eee;
}

.flex-footer:nth-child(3) {
  order: 2;
  flex: 0 1 auto;
  align-self: auto;
  background-color: #a1cca5;
}

.nav-menu{
  //background-color: #000000;
  height: 60px;
  @media (min-width: 700px) {
    height: 160px;
  }
}
.menu-mobile {
  margin-top: 20px;
}

.container-main{
  background-color: #fff;
  text-align: center;
}
.container{
  background-color: $background_primary;
  padding: 10px 0;
  text-align: justify;
}
.container-fluid{
  background-color: #eee;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: 700px) {
    padding-left: 25%;
    padding-right: 25%;
  }
}

.menu {
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @media (min-width: 700px) {
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }
}
.menu > li {
  padding: 0.5em 0;
  border-bottom: 1px solid $color_4;
  @media (min-width: 700px) {
    padding: 0.5em 0.5em;
    border-right: 1px solid #9DCDA6;
    border-bottom: 0;
  }
}
.menu > li > a{
  text-decoration: none;
  cursor: pointer;
  color:$font_primary_color;
  //padding-bottom: 11px;
  //margin: 27px 0 18px;
  text-transform: uppercase;
}
.menu > li > a:hover{
  color:$color_2;
}
.row{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.footer-link{
  color:$color_2;
}
footer{
  text-align: center;
  //padding: 30px 20px 15px 20px;
  //position: absolute;
  bottom: 0;
  width: 100%;
  //height: 60px;
  @media (min-width: 700px) {
    //position: absolute;
  }
}
footer > p{
  font-size: 0.7em;
  margin: 15px auto;

  @media (max-width: 700px) {
    font-size: 16px;
    margin: 20px 50px;
  }
}
.primary-color{
  color:$color_2;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $color_4;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f00;
}
.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid green;
}
.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right:15px solid $color_2;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
  border: solid 0px;
  border-bottom-width: 1px;
  border-bottom-color: $color_2;
  background-color: transparent;
  margin: 0 0 10px;
  //padding: 10px 5px 5px;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  //font-weight: 500;
}
.form-control{
  display: block;
  width: 100%;
  height: 30px;
  //padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  //background-color: #fff;
  background-image: none;
  //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  //box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

*/



#main-slider {
  //width: 94%;
  //max-width: 98%;
  height: 370px;
  position: relative;

  h1 {
    color: black;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  p {
    font-family: 'Droid Sans', sans-serif;
    font-size: 12px;
    margin-bottom: 20px;
    //max-height: 16px;
    overflow: hidden;
    @media (min-width: 800px) {
      font-size: 16px;
    }
  }
  img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
    text-align: center;

  }

  .button-ver {
    width: 54px;
    height: 32px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    background-color: rgb(0, 161, 72);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    color: white;
    padding: 5px;
    align-items: center;
    outline: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

  }

  .button-ver:hover {
    cursor: pointer;
    background-color: orange;
  }

  @media (min-width: 800px) {
    //max-width: 50%;
  }
  @media (min-width: 1200px) {
    //max-width: 600px;
  }
  //overflow: hidden;
  .main-slider-proyecto {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 94%;
    height: 98%;
    margin: auto;
    //background-color: #97f49d;
    z-index: 0;
    //padding: 10px;
    //border: 2px solid white;
    //-webkit-border-radius: 5px;
    //-moz-border-radius: 5px;
    //border-radius: 5px;
    //pointer-events: none;

    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
}
.show-slider-proyecto {
  opacity: 1 !important;
  z-index: 0;
  pointer-events: all !important;
}

button {
  border: none;
  background-color: transparent;
  font-weight: bold;
  cursor: pointer;
}
button:hover{
  color:$color_2;
}
.ac-mensaje-custom-show{
  background-color: $color_4;
  text-align: center;
  border: 1px solid $color_6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
#message-chat{
  height: 250px;
  overflow-y: auto;
  border-right: 1px solid;
}
.chat-container{
  flex-direction: column;
  display: flex;
  width: 80%;
}
.chat-container-login{
  flex-direction: row;
  display: flex;
}
.btn-chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
}
#texto-mensaje {
  width: 60%;
  margin-left: 25%;
  margin-top: 15px;
}