<!-- Google Code for Cotizar Conversion Page -->
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 956728168;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "xMWQCOyv2mQQ6IaayAM";
    var google_remarketing_only = false;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/956728168/?label=xMWQCOyv2mQQ6IaayAM&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>

<div ng-controller="CotizadorController as cotizadorCtrl" class="container container-color-2 container-menu-margin">
    <div class="container-info" form-id="cotizador">
        <h1>Cotizador en Línea</h1>
        <p>Complete nuestro formulario en línea y recibira una propuesta detallada via email a la menor brevedad posible</p>

        <div class="" id="cotizador-form">
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Nombre:</label>
                        <input ac-validator is-required="Debe ingresar un nombre" type="text"
                               class="form-control" ng-model="cotizadorCtrl.clienteEntity.nombre" id="cotizador-nombre">
                    </div>
                    <div class="controls controls-margin">
                        <label>Empresa:</label>
                        <input type="text" class="form-control" ng-model="cotizadorCtrl.clienteEntity.empresa">
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Teléfono:</label>
                        <input ac-validator is-required="Debe ingresar un teléfono" type="text"
                               class="form-control" ng-model="cotizadorCtrl.clienteEntity.telefono" id="cotizador-telefono">
                    </div>
                    <div class="controls controls-margin">
                        <label>Mail:</label>
                        <input ac-validator is-required="Debe ingresar un email" type="text"
                               class="form-control" ng-model="cotizadorCtrl.clienteEntity.email" id="cotizador-email">
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Comentario:</label>
                        <textarea ng-model="cotizadorCtrl.clienteEntity.message" cols="50" rows="5" class="form-control tu-comentario"></textarea>
                    </div>
                </div>
            </div>

            <h3>Nuestros Servicios</h3>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.desarrolloweb" >
                        <span class="" ng-click="cotizadorCtrl.desarrolloweb = (cotizadorCtrl.desarrolloweb) ? false : true">Diseño de Página Web</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.hosting" >
                        <span class="" ng-click="cotizadorCtrl.hosting = (cotizadorCtrl.hosting) ? false : true">Hosting</span>
                    </div>
                    <!--div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.logotipos" ><span class="">Diseño de Logotipos</span>
                    </div-->
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.desarrollografico" >
                        <span class="" ng-click="cotizadorCtrl.desarrollografico = (cotizadorCtrl.desarrollografico) ? false : true">Diseño Gráfico</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.dominio" >
                        <span class="" ng-click="cotizadorCtrl.dominio = (cotizadorCtrl.dominio) ? false : true">Registro de Dominio</span>
                    </div>
                    <!--div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.impresion" ><span class="">Impresión</span>
                    </div-->
                </div>
            </div>

            <div ng-if="cotizadorCtrl.desarrolloweb">
                <h3>Diseño de Página Web</h3>
                <div class="container-row" >
                    <div class="container-colum">
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.nuevapagina" value="1">
                            <span class="">Diseño de una nueva página web</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.nuevapagina" value="2">
                            <span class="">Rediseño de su página actual</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.nuevapagina" value="3">
                            <span class="">Servicio de Mantenimiento</span>
                        </div>
                    </div>
                </div>
                <div class="container-row">
                    <div class="container-colum">
                        <div class="controls controls-margin">
                            <label>Su proyecto:</label>
                            <textarea ng-model="cotizadorCtrl.comentario" cols="50" rows="5" class="form-control text-area"></textarea>
                        </div>
                    </div>
                </div>
                <div class="container-row">
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.slider_fijo" >
                            <span class="" ng-click="cotizadorCtrl.setSliderFijo((cotizadorCtrl.slider_fijo) ? false : true);">Slider Fijo</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.slider_administrable" >
                            <span class="" ng-click="cotizadorCtrl.setSliderAdministrable((cotizadorCtrl.slider_administrable) ? false : true);">Slider Autoadministrable</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.contactos" >
                            <span class="" ng-click="cotizadorCtrl.contactos = (cotizadorCtrl.contactos) ? false : true">Contactos</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.empresa_info" >
                            <span class="" ng-click="cotizadorCtrl.empresa_info = (cotizadorCtrl.empresa_info) ? false : true">Información de Empresas</span>
                        </div>
                    </div>
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.producto_info" >
                            <span class="" ng-click="cotizadorCtrl.producto_info = (cotizadorCtrl.producto_info) ? false : true">Información de Productos</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.multipaginas" >
                            <span class="" ng-click="cotizadorCtrl.multipaginas = (cotizadorCtrl.multipaginas) ? false : true">Multipágina</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.noticias" >
                            <span class="" ng-click="cotizadorCtrl.noticias = (cotizadorCtrl.noticias) ? false : true">Noticias</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.usuarios" >
                            <span class="" ng-click="cotizadorCtrl.usuarios = (cotizadorCtrl.usuarios) ? false : true">Usuarios</span>
                        </div>
                    </div>
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.ecommerce" >
                            <span class="" ng-click="cotizadorCtrl.ecommerce = (cotizadorCtrl.ecommerce) ? false : true">Ecommerce</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.chat" >
                            <span class="" ng-click="cotizadorCtrl.chat = (cotizadorCtrl.chat) ? false : true">Chat en línea</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.cobros_online" >
                            <span class="" ng-click="cotizadorCtrl.cobros_online = (cotizadorCtrl.cobros_online) ? false : true">Cobros Online</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.imagenes_admin" >
                            <span class="" ng-click="cotizadorCtrl.imagenes_admin = (cotizadorCtrl.imagenes_admin) ? false : true">Administración de Imágenes</span>
                        </div>
                    </div>
                </div>
                <div class="container-row">
                    <div class="container-colum">
                        <div class="controls controls-margin">
                            <label>Website de referencia:</label>
                            <input type="text" class="form-control" ng-model="cotizadorCtrl.website_referencia" >
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="cotizadorCtrl.hosting">
                <h3>Servicio de Hosting y Correos</h3>
                <div class="container-row">
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <label>Solicitar:</label>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.hosting_y_correo" value="1"
                                   ng-click="cotizadorCtrl.enablePlanHosting(1);">
                            <span class="">Sí</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.hosting_y_correo" value="2"
                                   ng-click="cotizadorCtrl.enablePlanHosting(2);">
                            <span class="">No, ya tengo el hosting</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.hosting_y_correo" value="3"
                                   ng-click="cotizadorCtrl.enablePlanHosting(3);">
                            <span class="">No estoy seguro</span>
                        </div>
                    </div>
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <label>Plan del Hosting:</label>
                            <select ng-model="cotizadorCtrl.hosting_selected"
                                    ng-options="plan_hosting.nombre for plan_hosting in cotizadorCtrl.plan_hosting"
                                    class="form-control" ng-disabled="!cotizadorCtrl.enableHosting">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="cotizadorCtrl.dominio">
                <h3>Registro de Dominios</h3>
                <div class="container-row">
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.registro_dominio" value="1">
                            <span class="">Registrar un nuevo dominio</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.registro_dominio" value="2">
                            <span class="">No, ya tengo el dominio</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.registro_dominio" value="3">
                            <span class="">No estoy seguro</span>
                        </div>
                    </div>
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.extension_1" value="1"
                                   ng-click="cotizadorCtrl.enableDominioDeseado(1);">
                            <span class="" >.com / .net /</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.extension_1" value="2"
                                   ng-click="cotizadorCtrl.enableDominioDeseado(2);">
                            <span class="" >.com.ar / .org</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="radio" ng-model="cotizadorCtrl.extension_1" value="3"
                                    ng-click="cotizadorCtrl.enableDominioDeseado(3);">
                            <span class="" >otro</span>
                        </div>
                    </div>
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <label>Dominio deseado:</label>
                            <input type="text" class="form-control"
                                   ng-model="cotizadorCtrl.dominio_deseado"
                                   ng-disabled="!cotizadorCtrl.enableDominio" >
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="cotizadorCtrl.desarrollografico">
                <h3>Diseño Gráfico</h3>
                <div class="container-row">
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.logotipo" >
                            <span class="" ng-click="cotizadorCtrl.logotipo = (cotizadorCtrl.logotipo) ? false : true">Diseño de Logotipo</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.tarjeta" >
                            <span class="" ng-click="cotizadorCtrl.tarjeta = (cotizadorCtrl.tarjeta) ? false : true">Tarjetas</span>
                        </div>
                        <div class="controls controls-margin">
                            <input type="checkbox" ng-model="cotizadorCtrl.catalogo" >
                            <span class="" ng-click="cotizadorCtrl.catalogo = (cotizadorCtrl.catalogo) ? false : true">Catálogo</span>
                        </div>
                    </div>
                    <div class="container-colum" style="flex: 1 1 auto;">
                        <div class="controls controls-margin">
                            <label>Otro:</label>
                        <textarea ng-model="cotizadorCtrl.otro_disenio_grafico" cols="50" rows="5"
                                  class="form-control text-area"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Información Adicional</h3>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>¿Cómo nos conoció?</label>
                        <textarea ng-model="cotizadorCtrl.como_nos_conocio" cols="50" rows="5"
                                  class="form-control text-area"></textarea>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>¿Desea una reunión?</label>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.desea_reunion" value="1"
                               ng-click="cotizadorCtrl.enableDeseaReunion(1);">
                        <span class="">SI</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.desea_reunion" value="2"
                               ng-click="cotizadorCtrl.enableDeseaReunion(2);">
                        <span class="">NO</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.desea_reunion" value="3"
                               ng-click="cotizadorCtrl.enableDeseaReunion(3);">
                        <span class="">SI. ¿Donde?</span>
                        <textarea ng-model="cotizadorCtrl.lugar_reunion" cols="50" rows="5"
                                  ng-disabled="!cotizadorCtrl.enableReunion"
                                  class="form-control text-area"></textarea>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Fecha y hora de reunión</label>
                        <input ac-validator min-date="today;La fecha debe ser mayor a hoy"
                               ng-disabled="!cotizadorCtrl.enableFecha"
                               class="form-control"
                               type="date" id="fecha_reunion" ng-model="cotizadorCtrl.fecha_reunion">
                    </div>
                </div>
            </div>
        </div>

        <div class="back-3">
            <button id="enviar-cotizacion" ac-validator ng-click="cotizadorCtrl.sendMail();">
                <div class="arrow-up position-up" style="right: 35px;"></div> Pedir Cotización
            </button>
        </div>

        <div class="send-mail ac-mensaje-custom-show" ng-if="cotizadorCtrl.enviando">
            Su cotización en breve será enviada
        </div>

    </div>
</div>
