<div ng-controller="CotizadorController as cotizadorCtrl" class="container container-color-2 container-menu-margin">
    <div class="container-info" form-id="cotizador">
        <h1>Cotizador en Línea</h1>
        <p>Complete nuestro formulario en línea y recibira una propuesta detallada via email a la menor brevedad posible</p>

        <div class="" id="cotizador-form">
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Nombre:</label>
                        <input ac-validator is-required="Debe ingresar un nombre" type="text"
                               class="form-control" ng-model="cotizadorCtrl.nombre" id="cotizador-nombre">
                    </div>
                    <div class="controls controls-margin">
                        <label>Empresa:</label>
                        <input type="text" class="form-control" ng-model="cotizadorCtrl.empresa">
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Teléfono:</label>
                        <input ac-validator is-required="Debe ingresar un teléfono" type="text"
                               class="form-control" ng-model="cotizadorCtrl.telefono" id="cotizador-telefono">
                    </div>
                    <div class="controls controls-margin">
                        <label>Mail:</label>
                        <input ac-validator is-required="Debe ingresar un email" type="text"
                               class="form-control" ng-model="cotizadorCtrl.email" id="cotizador-email">
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Comentario:</label>
                        <textarea ng-model="cotizadorCtrl.message" cols="50" rows="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>

            <h3>Nuestros Servicios</h3>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.desarrolloweb" ><span class="">Diseño de Página Web</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.hosting" ><span class="">Hosting</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.logotipos" ><span class="">Diseño de Logotipos</span>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.desarrollografico" ><span class="">Diseño Gráfico</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.dominio" ><span class="">Registro de Dominio</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.impresion" ><span class="">Impresión</span>
                    </div>
                </div>
            </div>

            <h3>Diseño de Página Web</h3>
            <div class="container-row">
                <div class="container-colum">
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.nuevapagina" value="1"><span class="">Diseño de una nueva página web</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.nuevapagina" value="2"><span class="">Rediseño de su página actual</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.nuevapagina" value="3"><span class="">Servicio de Mantenimiento</span>
                    </div>
                </div>
            </div>
            <div class="container-row">
                <div class="container-colum">
                    <div class="controls controls-margin">
                        <label>Su proyecto:</label>
                        <textarea ng-model="cotizadorCtrl.comentario" cols="50" rows="5" class="form-control"></textarea>
                    </div>
                </div>
            </div>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.slider_fijo" ><span class="">Slider Fijo</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.slider_administrable" ><span class="">Slider Autoadministrable</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.contactos" ><span class="">Contactos</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.empresa_info" ><span class="">Información de Empresas</span>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.producto_info" ><span class="">Información de Productos</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.multipaginas" ><span class="">Multipágina</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.noticias" ><span class="">Noticias</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.usuarios" ><span class="">Usuarios</span>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.ecommerce" ><span class="">Ecommerce</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.chat" ><span class="">Chat en línea</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.cobros_online" ><span class="">Cobros Online</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.imagenes_admin" ><span class="">Administración de Imágenes</span>
                    </div>
                </div>
            </div>
            <div class="container-row">
                <div class="container-colum">
                    <div class="controls controls-margin">
                        <label>Website de referencia:</label>
                        <input type="text" class="form-control" ng-model="cotizadorCtrl.website_referencia" >
                    </div>
                </div>
            </div>

            <h3>Servicio de Hosting y Correos</h3>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Solicitar:</label>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.hosting_y_correo" value="1"><span class="">Sí</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.hosting_y_correo" value="2"><span class="">No, ya tengo el hosting</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.hosting_y_correo" value="3"><span class="">No estoy seguro</span>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Plan del Hosting:</label>
                        <select ng-model="cotizadorCtrl.hosting_selected"
                                ng-options="plan_hosting.name for plan_hosting in cotizadorCtrl.plan_hosting"
                                class="">
                        </select>
                    </div>
                </div>
            </div>

            <h3>Registro de Dominios</h3>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.registro_dominio" value="1"><span class="">Registrar un nuevo dominio</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.registro_dominio" value="2"><span class="">No, ya tengo el dominio</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.registro_dominio" value="3"><span class="">No estoy seguro</span>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.extension_1" ><span class="">.com / .net /</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.extension_2" ><span class="">.com.do / .do</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.extension_3" ><span class="">otro</span>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Dominio deseado:</label>
                        <input type="text" class="form-control" ng-model="cotizadorCtrl.dominio_deseado" >
                    </div>
                </div>
            </div>

            <h3>Diseño Gráfico</h3>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.logotipo" ><span class="">Diseño de Logotipo</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.tarjeta" ><span class="">Tarjetas</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="checkbox" ng-model="cotizadorCtrl.catalogo" ><span class="">Catálogo</span>
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Otro:</label>
                        <input type="text" class="form-control" ng-model="cotizadorCtrl.otro_disenio_grafico" >
                    </div>
                </div>
            </div>

            <h3>Información Adicional</h3>
            <div class="container-row">
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>¿Cómo nos conoció?</label>
                        <input type="text" class="form-control" ng-model="cotizadorCtrl.como_nos_conocio" >
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>¿Desea una reunión?</label>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.desea_reunion" value="1"><span class="">SI</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.desea_reunion" value="2"><span class="">NO</span>
                    </div>
                    <div class="controls controls-margin">
                        <input type="radio" ng-model="cotizadorCtrl.desea_reunion" value="3"><span class="">SI. ¿Donde?</span>
                        <input type="text" class="form-control" ng-model="cotizadorCtrl.lugar_reunion" >
                    </div>
                </div>
                <div class="container-colum" style="flex: 1 1 auto;">
                    <div class="controls controls-margin">
                        <label>Fecha y hora de reunión</label>
                        <input min-date="today;La fecha debe ser mayor a hoy" class="form-control"
                               type="date" id="fecha_fin" ng-model="cotizadorCtrl.fecha_reunion">
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-chat">
            <div class="arrow-up arrow-chat-margin"></div>
            <button id="cotizar" ac-validator ng-click="cotizadorCtrl.sendMail();">Pedir Cotización</button>
        </div>

    </div>
</div>